.main-container {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
}

.title {
    width: auto;
    height: 28px;

    margin-top: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;

    color: var(--red-solid);
}

@media (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}