.main-container {
    width: 100%;
    height: cal(100% - 108px);

    margin-top: 108px;
    padding: 0px 55px 55px 55px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
}

.banner {
    width: 1792px;
    height: 584px;

    margin-bottom: 48px;

    background: url(../../../assets/banner.svg);
    background-size: 1792px;
    background-repeat: no-repeat;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.courseware-container, .youtube-container {
    width: 100%;

    padding: 56px 72px 56px 72px;

    background: var(--neutral-white);
    border-radius: 8px;
}

.courseware-container {
    height: 519px;

    margin-bottom: 48px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.youtube-container {
    height: 473px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.header {
    width: 100%;
    height: 98px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;
}

.header .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 645px;
    height: 98px;
}

.header .infos .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 251px;
    height: 27px;
}

.header .infos .controls .week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    width: 195px;
    height: 27px;

    background: var(--neutral-ligth);
    border-radius: 500px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: var(--neutral-cloudy);
}

.header .infos .controls .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 48px;
    height: 20px;
}

.header .infos .controls .icons img {
    cursor: pointer;
}

.header .infos .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 645px;
    height: 55px;
}

.header .infos .texts .title {
    width: 645px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: var(--neutral-dark);
}

.header .infos .texts .subtitle {
    width: 645px;
    height: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: var(--neutral-cloudy);
}


.courseware-container .header .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;

    width: 190px;
    height: 51px;

    border: 1px solid var(--brand-trakto-app);
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--brand-trakto-app);

    cursor: pointer;
}

.youtube-container .header .button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 8px;

    width: 200px;
    height: 52px;

    border: 1px solid var(--red-light);
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: var(--red-light);
}

.scroll-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    padding-top: 45px;
    gap: 32px;
    
    position: absolute;
    width: 1720px;
    height: 300px;

    overflow-x: hidden;
    overflow-y: hidden;
}

.youtube-thumbnail {
    width: 310px;
    height: 174.29px;
}

#thumbnail-1 {
    background: url('../../../assets/youtube-player-(small)-1.svg');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 0;
    flex-grow: 0;
}

#thumbnail-2 {
    background: url('../../../assets/youtube-player-(small)-2.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 1;
    flex-grow: 0;
}

#thumbnail-3 {
    background: url('../../../assets/youtube-player-(small)-3.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 2;
    flex-grow: 0;
}

#thumbnail-4 {
    background: url('../../../assets/youtube-player-(small)-4.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 3;
    flex-grow: 0;
}

#thumbnail-5 {
    background: url('../../../assets/youtube-player-(small)-5.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 4;
    flex-grow: 0;
}

#thumbnail-6 {
    background: url('../../../assets/youtube-player-(small)-6.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 5;
    flex-grow: 0;
}

#thumbnail-7 {
    background: url('../../../assets/youtube-player-(small)-7.png');
    background-color: var(--gray-light);
    background-size: 310px; 
    background-repeat: 'no-repeat';

    flex: none;
    order: 6;
    flex-grow: 0;
}

@media (max-width: 1795px){
    .banner {
        display: none;
    }

}