<header-component [theme]="'ligth'" [backgroundColor]="'var(--neutral-white)'" [showChangeEnvironmentOption]="true"></header-component>
<div class="main-container">
    <div class="content-container">
        <div class="texts-container">
            <div class="title">Material didático</div>
            <div class="subtitle">Acesse suas últimas apresentações de aula.</div>
        </div>
        <loading-data *ngIf="loadingDate"></loading-data>
        <not-found *ngIf="notFound"></not-found>
        <internal-error *ngIf="internalError"></internal-error>
        <div *ngIf="!loadingDate && !notFound && !internalError" class="content">
            <slide-thumbnail *ngFor="let design of designsList" [design]="design"></slide-thumbnail>
        </div>
    </div>
</div>